/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: rgb(1, 0, 9);
  background: linear-gradient(180deg, rgba(1, 0, 9, 1) 0%, rgba(17, 17, 52, 1) 35%, rgba(7, 11, 11, 1) 100%);
}

h1, h2 {
  color: white;
}

.content {
  margin: 3%;
}

.block-img img {
  width: 100%;
}

.block-text {
  background: #f1f2f4;
  padding: 2%;
  font-weight: 400;
  font-size: 14px;
  border-radius: 10px;
  margin: 15px 0;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  margin-bottom: 15px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.card-list {
  width: calc(30% + 15px);
  cursor: pointer;
}

.mat-card {
  min-height: 305px;
}

.mat-card:hover {
  box-shadow: 0px 0px 5px 1px black;
}

.mat-card-image {
  height: auto;
  max-height: 200px;
}

.mat-card-header {
  text-align: left;
}

.mat-card-header-text {
  min-height: 85px;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
}

.btn-return {
  margin: 15px 0;
}

.img-list {
  width: calc(100% + 32px);
  height: 200px;
  margin: 0 -16px 16px -16px;
}

@media only screen and (max-width: 600px) {
  .card-list {
    width: 100%;
  }

  .spinner {
    left: 33%;
  }

  .mat-button-base {
    width: 100%;
  }
}
