<div class="btn-return">
  <button mat-raised-button color="primary" routerLink="/planets">
    <mat-icon>reply</mat-icon>
  </button>
</div>
<h2>Detalle planeta</h2>
<div *ngIf="detailPlanet">
  <div class="block-img">
    <img src="{{detailPlanet.hdurl}}" alt="Photo of {{detailPlanet.title}}">
  </div>
  <div class="block-text">
    <p>{{detailPlanet.explanation}}</p>
  </div>
</div>

<div class="spinner" *ngIf="nasaService.showSpinner | async">>
  <app-spinner></app-spinner>
</div>
