<div *ngIf="planet">
  <mat-card class="example-card" (click)="detailtPlanet()">
    <mat-card-header>
      <mat-card-title>{{planet.title}}</mat-card-title>
      <mat-card-subtitle>{{planet.date}}</mat-card-subtitle>
    </mat-card-header>
    <div class="img-list" [ngStyle]="{'background-image': 'url(' + planet.url + ')'}"></div>
  </mat-card>
</div>
