<div class="spinner" *ngIf="nasaService.showSpinner | async">>
  <app-spinner></app-spinner>
</div>
<h2>Listado planetas</h2>
<div class="flex-container">
  <app-planet-card [planet]="planet" *ngFor="let planet of listPlanet" class="flex-item card-list"></app-planet-card>
</div>
